extends ../base/layout.pug

block data
  include ../data/header-banner.pug
  include ../data/header.pug
  include ../data/footer.pug
  include ../data/advantages.pug
  include ../data/header-bg-img.pug
  include ../data/location.pug
  include ../data/prev-conferences.pug
  //- include ../data/modalForm.pug
  //- include ../data/faq.pug
 


block main
  main.main
    section.header-info
      +headerBanner(headerBannerData)
      +advantages(advantagesData)
      +headerBgImg(headerBgData)
    +location(locationData)
    +prevConferences(prevConferencesData)
    //- +faq(faqData)
  //- +modalForm(modalFormData)   
