.header {
    background-color: $blue;

    &__logo {
        @include only-mobile {
            z-index: 5;
        }
    }

    &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 53px;

        @include min-tablet {
            min-height: 118px;
        }
    }
}
