.header {
    background-color: $blue;

    &__logo {
        @include only-mobile {
            z-index: 5;
        }
    }

    &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-height: 53px;

        @include min-tablet {
            min-height: 118px;
        }
    }
}

.menu {

    &__body {
        @include only-mobile {  
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding-top: 55px;
            background-color: $light-blue;
            overflow: auto;
            z-index: 2;

            &--active {
                display: block;
            }    
        }
    }

    &__list {
        margin: 0;
        padding: 0;

        @include only-mobile {
            padding: 34px 18px 37px;
            border-top: 1px solid $white;
        }

        @include min-tablet {
            display: flex;
            align-items: center;
        }
    } 

    &__item {
        position: relative;
        margin: 0 0 0 50px;
        list-style: none;

        @include only-mobile {
            flex-wrap: wrap;
            margin: 0 0 30px 0;
    
            &:last-child {
                margin-bottom: 0;
            }
        }
        
            @include min-tablet {
                padding: 10px 0;
            }
        }

    &__link {
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: $white;

        @include min-tablet {
            font-size: 14px;
            line-height: 17px;
        }

        &--registration {
            color: $pink;
            text-transform: uppercase;
        }

        & span{
            color: $pink;
        }
    }

    &__icon {
        display: none;

        @include only-mobile {
                z-index: 5;
                display: block;
                position: relative;
                width: 30px;
                height: 18px;
                cursor: pointer;     
    
                & span,
                &:before,
                &:after {
                    left: 0;
                    position: absolute;
                    height: 10%;
                    width: 100%;
                    transition: all 0.3s ease 0s;
                    background-color: $white;
                }
                
                &:before,
                &:after {
                    content: "";
                }
    
                &:before {
                    top: 0;
                }
    
                &:after {
                    bottom: 0;
                }
    
                & span {
                    top: 50%;
                    transform: scale(1) translate (0px, -50%);
                }
    
                &--active {
                    left: 0;
    
                    & span {
                        transform: scale(0) translate(0px, -50%);
                    }
    
                    &:before {
                        top: 50%;
                        transform: rotate(-45deg) translate(0px, -50%);
                    }
    
                    &:after {
                        bottom: 50%;
                        transform: rotate(45deg) translate(0px, -50%); 
                    }
                }   
        }
    }
}
