.prev-conferences {
    &__title {
        margin-top: 60px;
        margin-bottom: 40px;
        
        @include min-tablet {
            margin-top: 180px;
            margin-bottom: 86px;
        }  
    }

    &__subtitle {
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: 0.05em;
        color: $pink;

        @include min-tablet {
            font-size: 36px;
            line-height: 50px;
        } 
    }

    &__wrapper {
        position: relative;
        margin-bottom: 20px;
        
        @include min-tablet {
            margin-bottom: 35px;
        }  
    }
}