-
  const citiesList = [
    {
      label: 'Мирный',
      value: 'mirniy',
    },
    {
      label: 'Арылах',
      value: 'arilakh',
    },
    {
      label: 'Удачный',
      value: 'udachniy',
    },
    {
      label: 'Алмазный',
      value: 'almazniy',
    },
    {
      label: 'Айхал',
      value: 'aylakh',
    },
  ]
