$bg-blue: linear-gradient(180.21deg, #000626 0.2%, #01042D 6.01%, #0A0C2C 8.56%, #00032B 13.44%, #02092F 18.04%, #020530 23.22%);
$blue: #040B3C;
$light-blue: #040C3E;
$white: #F2F2FF;
$pink: rgba(246, 37, 90, 1);
$grey: #C4C4C4;
