//- example data {
//-   copyText: string,
//-   socials: [
//-     {
//-       icon: iconObj,
//-       label: string,
//-       link: string,
//-     },
//-   ],
//- }

mixin footer(data)
  - const {copyText, socials} = data;

  footer.footer 
    .footer__wrapper.container
      section.footer-contacts
        .footer-contacts__logo
          picture
            source(media="(min-width: 1200px)" srcset="../images/logo-desktop.svg")
            img(src="../images/logo-mobile.svg" width="100" height="32" alt="Logo NFST")
        p.footer-contacts__adress Санкт-Петербург,<br> Краснопутиловская ул., 69
        ul.footer-contacts__list
          li.footer-contacts__item
            a.footer-contacts__link.footer-contacts__link--instagram(href="javascript:void(0);")
              svg(idth="31" height="31" aria-hidden="true")
                use(xlink:href="#icon-instagram")
              span.visually-hidden Мы&nbsp;в Инстаграме
          li.footer-contacts__item
            a.footer-contacts__link.footer-contacts__link--facebook(href="javascript:void(0);")
              svg(idth="37" height="37" aria-hidden="true")
                use(xlink:href="#icon-facebook")
              span.visually-hidden Мы&nbsp;в Фейсбуке
          li.footer-contacts__item
            a.footer-contacts__link.footer-contacts__link--youtube(href="javascript:void(0);")
              svg(idth="31" height="31" aria-hidden="true")
                use(xlink:href="#icon-youtube")
              span.visually-hidden Мы&nbsp;в Ютубе
        .footer__copyright--desktop.footer__copyright Все права защищены<br>
          span &copy;&nbsp;2019&nbsp;АНО &laquo;Интепром Стандарт&raquo;
      section.footer__nav
        ul.footer__list
          li.footer__title Контакты
          li.footer__item
            a(href="tel:+7(812)4244647") +7 (812) 424 46 47
          li.footer__item
            a(href="mailto:info@gostonomica.ru") info@gostonomica.ru
        ul.footer__list
          li.footer__title Документы
          li.footer__item
            a(href="javascript:void(0);") Политика конфиденциальности
          li.footer__item
            a(href="javascript:void(0);") Документ &#8470;&nbsp;1
          li.footer__item
            a(href="javascript:void(0);") Документ &#8470;&nbsp;2
        ul.footer__list
          li.footer__title Навигация по&nbsp;сайту
          li.footer__item
            a(href="javascript:void(0);") О&nbsp;конференции
          li.footer__item
            a(href="javascript:void(0);") Программа
          li.footer__item
            a(href="javascript:void(0);") Спикеры
          li.footer__item
            a(href="javascript:void(0);") Партнеры
          li.footer__item
            a(href="javascript:void(0);") Стоимость
        .footer__copyright--mobile.footer__copyright Все права защищены<br>
          span &copy;&nbsp;2019&nbsp;АНО &laquo;Интепром Стандарт&raquo;