//- Базовые
//- ---------------------------------

include ../mixins/basic/sprite.pug

//- Компоненты
//- ---------------------------------

include ../mixins/components/header-banner.pug
include ../mixins/components/advantages.pug
include ../mixins/components/header-bg-img.pug
include ../mixins/components/location.pug
include ../mixins/components/prev-conferences.pug
include ../mixins/components/faq.pug
include ../mixins/components/modalForm.pug