mixin modal(mods)
  div(class="modal modal--preload " + mods role="dialog")&attributes(attributes)
    .modal__wrapper
      .modal__overlay(data-modal-close)
      .modal__content
        if block
          block
        button.modal__close-btn.btn-reset(type="button", aria-label="Закрыть попап", data-modal-close)
          +icon({name: "icon-close", width: 20, height: 20})
