-
  const appBlockData = {
    title: 'УСТАНОВИТЕ МОБИЛЬНОЕ&nbsp;ПРИЛОЖЕНИЕ',
    text: 'Управляйте статусом клубной карты, следите за актуальным расписанием групповых занятий и тренерским составом. Покупайте или продлевайте абонементы и доп. услуги по специальным ценам. будьте в курсе последних новостей.',
    bgImage: {
      path: '',
      image: 'hand-mobile',
      format: 'png',
      width: 442,
      height: 700,
      altText: 'рука держит смартфон',
    },
    buttons: [
      {
        link: '#',
        label: 'google app',
        image: {
          path: '',
          image: 'google-play',
          format: 'png',
          width: 182,
          height: 54,
          altText: '',
        },
        qrCode: {
          path: '',
          image: 'qr-code-android',
          format: 'png',
          width: 180,
          height: 180,
          altText: 'qr код для плеймаркет',
        },
      },
      {
        link: '#',
        label: 'app-store',
        image: {
          path: '',
          image: 'app-store',
          format: 'png',
          width: 161,
          height: 54,
          altText: '',
        },
        qrCode: {
          path: '',
          image: 'qr-code-apple',
          format: 'png',
          width: 180,
          height: 180,
          altText: 'qr код для эппстор',
        },
      },
    ]
  }
