-
  const chaptersData = {
    list: [
      {
        link: '#',
        imageObj: {
          path: 'main-page',
          image: 'chapters-img-1',
          format: 'jpg',
          width: 1392,
          heigth: 928
        },
        hasGradient: true,
        title: 'Онлайн мероприятия',
        buttons: [
          {
            mods: ['outlined'],
            text: 'Спорт',
            isLink: true,
            href: '#',
          },
          {
            mods: ['outlined'],
            text: 'Культура',
            isLink: true,
            href: '#',
          },
        ],
        sublist: ['Персональный тренинг', 'Обучение техники упражнений', 'Мотивация и поддержка', 'Тренировки на результат', 'Индивидуальный подход'],
      },
      {
        link: '#',
        imageObj: {
          path: 'main-page',
          image: 'chapters-img-4',
          format: 'jpg',
          width: 989,
          heigth: 439
        },
        title: 'Наши достижения',
        buttons: [
          {
            mods: ['outlined'],
            text: 'Спорт',
            isLink: true,
            href: '#',
          },
          {
            mods: ['outlined'],
            text: 'Культура',
            isLink: true,
            href: '#',
          },
        ],
      },
      {
        link: '#',
        imageObj: {
          path: 'main-page',
          image: 'chapters-img-5',
          format: 'jpg',
          width: 989,
          heigth: 439
        },
        title: 'Дополнительные услуги',
        buttons: [
          {
            mods: ['outlined'],
            text: 'Спорт',
            isLink: true,
            href: '#',
          },
          {
            mods: ['outlined'],
            text: 'Культура',
            isLink: true,
            href: '#',
          },
        ],
      },
      {
        link: '#',
        image: "../img/main-page/chapters-img-3.jpg",
        imageObj: {
          path: 'main-page',
          image: 'chapters-img-3',
          format: 'jpg',
          width: 979,
          heigth: 783
        },
        hasGradient: true,
        title: 'Фитнес навигатор',
        sublist: ['Персональный тренинг', 'Обучение техники упражнений', 'Мотивация и поддержка', 'Тренировки на результат', 'Индивидуальный подход'],
        buttons: [
          {
            mods: ['outlined'],
            text: 'Спорт',
            isLink: true,
            href: '#',
          },
          {
            mods: ['outlined'],
            text: 'Культура',
            isLink: true,
            href: '#',
          },
        ],
      },
      {
        link: '#',
        imageObj: {
          path: 'main-page',
          image: 'chapters-img-2',
          format: 'jpg',
          width: 978,
          heigth: 783
        },
        hasGradient: true,
        buttons: [
          {
            mods: ['outlined'],
            text: 'Спорт',
            isLink: true,
            href: '#',
          },
          {
            mods: ['outlined'],
            text: 'Культура',
            isLink: true,
            href: '#',
          },
        ],
        title: 'Индивидуальные занятия',
        sublist: ['Персональный тренинг', 'Обучение техники упражнений', 'Мотивация и поддержка', 'Тренировки на результат', 'Индивидуальный подход'],
      },
      {
        link: '#',
        imageObj: {
          path: 'main-page',
          image: 'chapters-img-6',
          format: 'jpg',
          width: 989,
          heigth: 443
        },
        title: 'Мы за ЗОЖ',
        iconTitle: 'Профсоюз профалмаз',
      },
    ]
  }
