-
  const citiesNavData = {
    links: [
      {
        label: 'МИРНЫЙ',
        link: '#',
      },
      {
        label: 'УДАЧНЫЙ',
        link: '#',
      },
      {
        label: 'АЙХАЛ',
        link: '#',
      },
      {
        label: 'АЛМАЗНЫЙ',
        link: '#',
      },
      {
        label: 'АРЫЛАХ',
        link: '#',
      },
    ]
  }
