-
  const currentData = {
    slides: [
      {
        image: {
          path: 'main-page',
          image: 'current-img1',
          format: 'jpg',
          width: 500,
          height: 500,
          altText: 'слайд',
        },
      },
      {
        image: {
          path: 'main-page',
          image: 'current-img2',
          format: 'jpg',
          width: 500,
          height: 500,
          altText: 'слайд',
        },
      },
      {
        image: {
          path: 'main-page',
          image: 'current-img3',
          format: 'jpg',
          width: 500,
          height: 500,
          altText: 'слайд',
        },
      },
      {
        image: {
          path: 'main-page',
          image: 'current-img1',
          format: 'jpg',
          width: 500,
          height: 500,
          altText: 'слайд',
        },
      },
      {
        image: {
          path: 'main-page',
          image: 'current-img2',
          format: 'jpg',
          width: 500,
          height: 500,
          altText: 'слайд',
        },
      },
      {
        image: {
          path: 'main-page',
          image: 'current-img3',
          format: 'jpg',
          width: 500,
          height: 500,
          altText: 'слайд',
        },
      },
      {
        image: {
          path: 'main-page',
          image: 'current-img1',
          format: 'jpg',
          width: 500,
          height: 500,
          altText: 'слайд',
        },
      },
      {
        image: {
          path: 'main-page',
          image: 'current-img2',
          format: 'jpg',
          width: 500,
          height: 500,
          altText: 'слайд',
        },
      },
      {
        image: {
          path: 'main-page',
          image: 'current-img3',
          format: 'jpg',
          width: 500,
          height: 500,
          altText: 'слайд',
        },
      },
      {
        image: {
          path: 'main-page',
          image: 'current-img1',
          format: 'jpg',
          width: 500,
          height: 500,
          altText: 'слайд',
        },
      },
      {
        image: {
          path: 'main-page',
          image: 'current-img2',
          format: 'jpg',
          width: 500,
          height: 500,
          altText: 'слайд',
        },
      },
      {
        image: {
          path: 'main-page',
          image: 'current-img3',
          format: 'jpg',
          width: 500,
          height: 500,
          altText: 'слайд',
        },
      },
    ],
  }
