-
  const heroData = {
    slides: [
      {
        bgImage: '../img/main-page/main-hero-bg.jpg',
        info: {
          title: 'Культурно-спортивный комплекс',
          text: 'Является структурным подразделением Акционерной компании «АЛРОСА». В&nbsp;подразделениях КСК на постоянной основе работают секции по 23 видам спорта и по 9 творческим направлениям',
          button: {
            isLink: true,
            mods: ['light'],
            href: '#',
            text: 'Узнать больше',
            icon: {
              name: 'arrow-right',
              width: 10,
              height: 14,
            },
          },
        },
      },
      {
        bgImage: '../img/main-page/main-hero-bg.jpg',
        info: {
          title: 'Культурно-спортивный комплекс',
          text: 'Является структурным подразделением Акционерной компании «АЛРОСА». В&nbsp;подразделениях КСК на постоянной основе работают секции по 23 видам спорта и по 9 творческим направлениям',
          button: {
            isLink: true,
            mods: ['light'],
            href: '#',
            text: 'Узнать больше',
            icon: {
              name: 'arrow-right',
              width: 10,
              height: 14,
            },
          },
        },
      },
      {
        bgImage: '../img/main-page/main-hero-bg.jpg',
        info: {
          title: 'Культурно-спортивный комплекс',
          text: 'Является структурным подразделением Акционерной компании «АЛРОСА». В&nbsp;подразделениях КСК на постоянной основе работают секции по 23 видам спорта и по 9 творческим направлениям',
          button: {
            isLink: true,
            mods: ['light'],
            href: '#',
            text: 'Узнать больше',
            icon: {
              name: 'arrow-right',
              width: 10,
              height: 14,
            },
          },
        },
      },
      {
        bgImage: '../img/main-page/main-hero-bg.jpg',
        info: {
          title: 'Культурно-спортивный комплекс',
          text: 'Является структурным подразделением Акционерной компании «АЛРОСА». В&nbsp;подразделениях КСК на постоянной основе работают секции по 23 видам спорта и по 9 творческим направлениям',
          button: {
            isLink: true,
            mods: ['light'],
            href: '#',
            text: 'Узнать больше',
            icon: {
              name: 'arrow-right',
              width: 10,
              height: 14,
            },
          },
        },
      },
      {
        bgImage: '../img/main-page/main-hero-bg.jpg',
        info: {
          title: 'Культурно-спортивный комплекс',
          text: 'Является структурным подразделением Акционерной компании «АЛРОСА». В&nbsp;подразделениях КСК на постоянной основе работают секции по 23 видам спорта и по 9 творческим направлениям',
          button: {
            isLink: true,
            mods: ['light'],
            href: '#',
            text: 'Узнать больше',
            icon: {
              name: 'arrow-right',
              width: 10,
              height: 14,
            },
          },
        },
      },
    ]
  }
