-
  const advantagesData = {
    itemFirstRow: [
      {
        iconTextFirstRow: "Обзавестись новыми<br> полезными связями",
        iconImageFirstRow: "#icon-connections",
      },
      {
        iconTextFirstRow: "Разобраться что такое<br> цифровой стандарт",
        iconImageFirstRow: "#icon-screen",
      },
      {
        iconTextFirstRow: "Узнать об&nbsp;интеграции стандартов<br> с&nbsp;производственными процессами",
        iconImageFirstRow: "#icon-target",
      },
    ],
    itemSecondRow: [
      {
        iconTextSecondRow: "Ознакомиться с&nbsp;новыми<br> технологиями зарубежных<br> стандартизаторов",
        iconImageSecondRow: "#icon-technologies",
      },
      {
        iconTextSecondRow: "Увидеть цифровой<br> конструктор стандартов",
        iconImageSecondRow: "#icon-presentation",
      },
      {
        iconTextSecondRow: "Понять роль технологий в <br>&laquo;Бережливом производстве&raquo;",
        iconImageSecondRow: "#icon-saving",
      },
    ]
  };
