-
  const advantagesData = {
    iconTextOne: "Обзавестись новыми<br> полезными связями",
    iconImageOne: "#icon-connections",
    iconTextTwo: "Разобраться что такое<br> цифровой стандарт",
    iconImageTwo: "#icon-screen",
    iconTextThree: "Узнать об&nbsp;интеграции стандартов<br> с&nbsp;производственными процессами",
    iconImageThree: "#icon-target",
    iconTextFour: "Ознакомиться с&nbsp;новыми<br> технологиями зарубежных<br> стандартизаторов",
    iconImageFour: "#icon-technologies",
    iconTextFive: "Увидеть цифровой<br> конструктор стандартов",
    iconImageFive: "#icon-presentation",
    iconTextSix: "Понять роль технологий в <br>&laquo;Бережливом производстве&raquo;",
    iconImageSix: "#icon-saving",
  };
