-
  const faqData = {
    faqTitle: "FAQs",
    faqList: [
      {
        faqQuestion: "Все ли спикеры подтвердили участие?",
        visuallyHiddenText: "Открыть-закрыть",
        faqAnswer: "ipsum dolor, sit amet consectetur adipisicing elit.",
      },
      {
        faqQuestion: "Все ли спикеры подтвердили участие?",
        visuallyHiddenText: "Открыть-закрыть",
        faqAnswer: "ipsum dolor, sit amet consectetur adipisicing elit.",
      },
      {
        faqQuestion: "Все ли спикеры подтвердили участие?",
        visuallyHiddenText: "Открыть-закрыть",
        faqAnswer: "ipsum dolor, sit amet consectetur adipisicing elit.",
      },
      {
        faqQuestion: "Все ли спикеры подтвердили участие?",
        visuallyHiddenText: "Открыть-закрыть",
        faqAnswer: "ipsum dolor, sit amet consectetur adipisicing elit.",
      },
      {
        faqQuestion: "Все ли спикеры подтвердили участие?",
        visuallyHiddenText: "Открыть-закрыть",
        faqAnswer: "ipsum dolor, sit amet consectetur adipisicing elit.",
      },
    ]
  }
