-
  const faqData = {
    title: "FAQs",
    faqQuestion: "Все ли спикеры подтвердили участие?",
    visuallyHiddenText: "Открыть-закрыть"
    faqAnswer: "ipsum dolor, sit amet consectetur adipisicing elit.",
  };
