-
  const footerData = {
    logoDesktop:"../img/logo-desktop.svg",
    logoMobile: "../img/logo-mobile.svg",
    addres: "Санкт-Петербург,<br> Краснопутиловская ул., 69",
    copyText: 'АК «АЛРОСА» (ПАО) 1992-2021 | Все права защищены.',
    socials: [
      {
        link: "javascript:void(0);",
        width: "31",
        height: "31", 
        name: "#icon-instagram", 
        text: "Мы&nbsp;в Инстаграме", 
      },
      {
        link: "javascript:void(0);",
        width: "37",
        height: "37", 
        name: "#icon-facebook", 
        text: "Мы&nbsp;в Фейсбуке",
      },
      {
        link: "javascript:void(0);",
        width: "31",
        height: "31", 
        name: "#icon-youtube", 
        text: "Мы&nbsp;в Ютубе",
      },
    ],
    copyright: "Все права защищены",
    copyrightCompany: "&copy;&nbsp;2019&nbsp;АНО &laquo;Интепром Стандарт&raquo;",
    navItem: [
      {
        title: "Контакты",
        itemOneLink: "tel:+7(812)4244647",
        itemOneText: "+7 (812) 424 46 47",
        itemTwoLink: "mailto:info@gostonomica.ru",
        itemTwoText: "info@gostonomica.ru",     
      },
      {
        title: "Документы",
        itemOneLink: "javascript:void(0);",
        itemOneText: "Политика конфиденциальности",
        itemTwoLink: "javascript:void(0);",
        itemTwoText: "Документ &#8470;&nbsp;1",  
      },
      {
        title: "Навигация по&nbsp;сайту",
        itemOneLink: "javascript:void(0);",
        itemOneText: "О&nbsp;конференции",
        itemTwoLink: "javascript:void(0);",
        itemTwoText: "Программа", 
      },
    ],
  }
