-
  const footerData = {
    copyText: 'АК «АЛРОСА» (ПАО) 1992-2021 | Все права защищены.',
    socials: [
      {
        icon: {
          name: 'icon-mail',
          width: 30,
          height: 30,
        },
        label: 'электронная почта',
        link: 'mailto:#',
      },
      {
        icon: {
          name: 'icon-vk',
          width: 30,
          height: 30,
        },
        label: 'профиль вконтакте',
        link: 'https://vk.com',
      },
      {
        icon: {
          name: 'icon-telegram',
          width: 30,
          height: 30,
        },
        label: 'профиль в телеграм',
        link: 'https://t.me/+ummRg1VpSj5iYzUy',
      },
    ]
  }
