-
 const headerData = {
        linkPlug: "javascript:void(0);",
        imageUrlMobile: "../img/logo-mobile.svg",
        imageSetMobile: "../img/logo-desktop.svg",
        visuallyHiddenText: "Открыть меню",
        number: "<span>(812)</span> 424 46 47",
        email: "<span>info@</span>gostonomica.ru",
        buttonText: "Зарегистрироваться",
 };
