-
  const headerBannerData = {
    imageSet: "../img/banner_img_desktop.webp 1x, ../img/banner_img_desktop@2x.webp 2x",
    imageUrlMobile: "../img/banner_img_mobile.webp",
    imageSetMobile: "../img/banner_img_mobile@2x.webp 2x",
    title: "Научно-образовательная конференция по&nbsp;стандартизации и&nbsp;НСИ",
    description: "National forum of&nbsp;standards &amp;&nbsp;technology&rsquo;",
    bannerDate: "14-15 сентября",
    bannerTime: "10:00",
    buttonText: "Зарегистрироваться",
    buttonLink:  "login.html",   
  };
