-
       const headerData = {
              linkPlug: "javascript:void(0);",
              imageUrlMobile: "../img/logo-mobile.svg",
              imageSetMobile: "../img/logo-desktop.svg",
              visuallyHiddenText: "Открыть меню",
              numberLink: "tel:+7(812)4244647",
              numberText: "<span>(812)</span> 424 46 47",
              emailLink: "info@gostonomica.ru",
              emailText: "<span>info@</span>gostonomica.ru",
              buttonText: "Зарегистрироваться",
       };
