-
    const locationData = {
        title: "Место проведения конференции",
        text: "<p>NFST 2022 было решено организовать в&nbsp;грандиозном месте&nbsp;&mdash; ультрасовременном архитектурном комплексе стеклянных небоскребов &laquo;Москва Сити&raquo;.</p><p>Деловой центр совмещает в&nbsp;себе интересы российских и&nbsp;зарубежных компаний. В&nbsp;нем пересекаются комфорт и&nbsp;роскошь, бизнес и&nbsp;развлечения, уют и&nbsp;бурная жизнь мегаполиса. </p><p>Уверены, что атмосфера придется каждому по&nbsp;душе.</p>",
        buttonLink: "login.html",
        buttonText: "Зарегистрироваться",
        imagesList: [
            {
                 set: "../img/location_img_desktop.webp 1x, /src/images/location_img_desktop@2x.webp 2x",
                 mobile: "../img/location_img_mobile.webp",
                 mobileSet: "../img/location_img_mobile@2x.webp 2x",
            },
            {
                 set: "../img/location_img_desktop.webp 1x, /src/images/location_img_desktop@2x.webp 2x",
                 mobile: "../img/location_img_mobile.webp",
                 mobileSet: "../img/location_img_mobile@2x.webp 2x",
            },
            {
                 set: "../img/location_img_desktop.webp 1x, /src/images/location_img_desktop@2x.webp 2x",
                 mobile: "../img/location_img_mobile.webp",
                 mobileSet: "../img/location_img_mobile@2x.webp 2x",
            },
            {
                 set: "../img/location_img_desktop.webp 1x, /src/images/location_img_desktop@2x.webp 2x",
                 mobile: "../img/location_img_mobile.webp",
                 mobileSet: "../img/location_img_mobile@2x.webp 2x",
            },
        ],     
        imageSetBg: "../img/bg-location_desktop.webp 1x, /src/images/bg-location_desktop@2x.webp 2x",
        imageMobileBg: "../img/bg-location_mobile.webp",
        imageMobileSetBg: "../img/bg-location_mobile@2x.webp 2x",
    };
