-
    const modalFormData = {
        title: "Регистрация",
        inputNameText: "Ваше имя",
        inputNamePlaceholder: "Введите ваше имя",
        inputPhoneText: "Ваш телефон",
        inputPhonePlaceholder: "+7 (123) 456 78 90",  
        buttonText: "Отправить",
        consent: "Нажимая кнопку, Вы&nbsp;принимаете условия политики конфиденциальности персональной информации",
        visuallyHiddenText: "Закрыть",
    };
