//- -
//-     const modalFormData = {
//-         title: "Регистрация",
//-         inputNameText: "Ваше имя",
//-         inputNamePlaceholder: "../img/logo-mobile.svg",
//-         inputPhoneText: "../img/logo-desktop.svg",
//-         inputPhonePlaceholder: "../img/logo-desktop.svg"   
//-         buttonText: "Отправить",
//-         consent: "Нажимая кнопку, Вы&nbsp;принимаете условия <a href="javascript:void(0);">Политики конфиденциальности</a> персональной информации",
//-         visuallyHiddenText: "Закрыть",
//-     };
