//- example data {
//-     faqTitle: string,
//-     faqQuestion: string,
//-     visuallyHiddenText: string,
//-     faqAnswer: string,
//- };

mixin faq(data)
    - const { faqTitle, faqItem } = data;
        section.faq
            .faq__wrapper.container
                h2.faq__title.title !{faqTitle}
                .accordion
                    each item in faqItem
                        .accordion__item
                            .accordion__trigger(data-accordion-trigger) !{item.faqQuestion}
                                span.visually-hidden !{item.visuallyHiddenText}
                            .accordion__contentLorem !{item.faqAnswer}
